body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}

.color-box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
  width: 50%;
  border: 2px solid black;
  border-radius: 8px;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3), 0 8px 16px rgba(0, 0, 0, 0.3);
}

.color-box > p {
  font-size: 24px;
  padding: 0;
  margin: 0;
}

.send-color {
  display: flex;
  justify-content: center;
  width: 100%;
}

.send-color input {
  position: relative;
  padding: 0 10px;
  width: calc(50% - 20px);
  height: 40px;
  font-size: 24px;
  margin: 20px 0;
  border: 2px solid black;
  border-radius: 8px;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3), 0 8px 16px rgba(0, 0, 0, 0.3);
  outline: none;
}
